module.exports = {
  // 版式编辑信息展示中的小图标过滤
  parseIcon: function (requiree, status) {
    var url = null
    if (requiree) {
      url = '/assets/images/card_edit_icon_required.png'
    } else {
      if (status)
        url = '/assets/images/card_edit_icon_show_n.png'
      else
        url = '/assets/images/card_edit_icon_disable.png'
    }

    return url
  },
  parseStyle: function (currentStyleId, styleList) {
    if (styleList.length) {
      var res = null
      styleList.some(function (item) {
        if (item.id === currentStyleId) {
          return res = item
        }
        return false
      })

      return res
    }
  },
  // 根据名片版式解析导航栏字色
  parseNavColor: function (cid) {
    var color = null
    if (cid === 1) {
      // 无背景
      color = '#333333'
    } else if (cid === 2) {
      // 有背景
      color = '#FFFFFF'
    }
    return color
  },
  // 解析我的标签进行高亮
  parseLabelStr: function (id, label_arr) {
    var res = false
    if (label_arr.length) {
      res = label_arr.some(function (idd) {
        return idd == id
      })
    }
    return res
  },
  // 返回数字艺术藏品
  parseNFT: function (imageList) {
    if (imageList) {
      var res = imageList.filter(function (item) {
        return item.price != 0.00 || !item.price
      })
      return res
    }
  }
}