module.exports = {
  //过滤颜色
  parseColor: function (color, attr) {
    var color = color
    if (color === '22') {
      color = '#FFFFFF'
    }

    return color
  },
  // 控制属性是否显示
  parseShow: function (myfield, field, taglist) {
    var res = true
    if (taglist) {
      if (myfield === field) {
        res = taglist.some(function (item) {
          if (item.field === field) {
            if (item.is_show) return true
          }
          return false
        })
      } else {
        // 保持原值
        res = taglist.some(function (item) {
          if (item.field === myfield) {
            if (item.is_show) return true
          }
          return false
        })
      }
    }

    return res
  }
}